<div class="row header-spacing">

	<nav id="reg-nav">
		<div id="logo" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><img src="./images/ls-logo.jpg"></div>

		<div id="header-text" class="col-sm-10 col-md-9 col-lg-10 header-text hidden-xs">The exploration of fashion from around the <span class="gold-color">world</span></div>

		<!-- Search Box Hidden on Start -->
		<div id="search-form" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-text-search search-hide abso">
			<form onsubmit="return false;">
				<input type="text" id="query" class="search-form" autocomplete="off" placeholder="Just start typing to search">
			</form>
		</div>
		<!-- Search Box Hidden on Start END-->

		<div my-Menu class="col-xs-2 col-sm-1 col-md-2 col-lg-1 search-menu-p pull-right">
			<i id="burger-button" class="fa fa-bars fa-lg ptop15 clickable pull-right"></i>
			<i id="search-button" class="fa fa-search fa-lg clickable ptop15 search-p pull-right"></i>
		</div>
	</nav>
	
	<!-- Slide Menu Bar Navigation -->
	<div id="slide-nav" class="row slide-nav slide-nav-hide pull-right"> 
		<nav class="header-spacing">
			<ul class="list-unstyled">
				<li class="login"><small><a class="pull-right" href="/">LOG IN</a></small></li>
				<div>
					<ul class="list-unstyled">
						<li class="main-area-slide-menu text-center section"><a href="">Men's Section</a></li>
						<li class="main-area-slide-menu"><a href="">- Outfits</a></li>
						<li class="main-area-slide-menu"><a href="">- Clothing</a></li>
						<li class="main-area-slide-menu"><a href="">- Shoes</a></li>
						<li class="main-area-slide-menu"><a href="">- Accessories</a></li>
						<li class="main-area-slide-menu"><a href="">- Beauty</a></li>
						<li class="main-area-slide-menu login"><a href="">- Sale</a></li>
					</ul>

					<ul class="list-unstyled">
						<li class="main-area-slide-menu text-center section"><a href="">Woman's Section</a></li>
						<li class="main-area-slide-menu"><a href="">- Outfits</a></li>
						<li class="main-area-slide-menu"><a href="">- Clothing</a></li>
						<li class="main-area-slide-menu"><a href="">- Shoes</a></li>
						<li class="main-area-slide-menu"><a href="">- Accessories</a></li>
						<li class="main-area-slide-menu"><a href="">- Beauty</a></li>
						<li class="main-area-slide-menu"><a href="">- Sale</a></li>
					</ul>

				</div>
				
			</ul>
		</nav>

	</div> 
	<!-- Slide Menu Bar Navigation END-->

</div>

